---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:   18px;
$small-font-size:  14px;
$code-font-size:   14px;

$light-font-weight: 100;
$base-font-weight:  200;
$bold-font-weight:  600;

$base-line-height:  1.5;
$code-line-height:  1.1;

$spacing-unit:     30px;

$text-color:        #111;
$background-color:  rgb(251, 251, 251);
$brand-color:       #2a7ae2;
$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);
$white-color:       rgb(254,254, 254);
$no-color: rgba(0,0,0,0);

// Width of the content area
$content-width:    800px;
$on-palm:          800px;

$profile-image-width: 150px;

$post-list-featured-image-width: 90px;
$post-list-featured-image-height: $post-list-featured-image-width;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../node_modules/font-awesome/css/font-awesome.min.css",
        "base",
        "layout",
        "syntax-highlighting"
;
