$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $article-font-family: Georgia, Cambria, "Times New Roman", Times, serif; // 미디엄 스타일 
$article-font-family: $base-font-family;
$fixed-font-family: "SF Mono", "Menlo", Courier, "Lucida Console", monospace;

$font-size-default: 18px;

$site-width: 1024px;
$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;
$content-width: 800px;

$spacing-unit: 8px;

// https://hookagency.com/website-color-schemes/ #7
$brand-color: #313d4b;
$primary-color: #cd5554;
$secondary-color: #91684a;
$thenary-color: #00c07f;
$black-color: #3d3d3f;
$white-color: #f9f8fd;
$gray-color: lighten($black-color, 40%);
$light-gray-color: #e7e9ee;

@mixin spacing($target, $shortcut) {
  @for $i from 0 to 21 {
    .#{$shortcut}t-#{$i} { 
      #{$target}-top: #{$i * $spacing-unit}; 
    }
    .#{$shortcut}r-#{$i} { 
      #{$target}-right: #{$i * $spacing-unit}; 
    }
    .#{$shortcut}b-#{$i} { 
      #{$target}-bottom: #{$i * $spacing-unit}; 
    }
    .#{$shortcut}l-#{$i} {
      #{$target}-left: #{$i * $spacing-unit}; 
    }
    .#{$shortcut}x-#{$i} {
      #{$target}-left: #{$i * $spacing-unit}; 
      #{$target}-right: #{$i * $spacing-unit}; 
    }
    .#{$shortcut}y-#{$i} { 
      #{$target}-top: #{$i * $spacing-unit}; 
      #{$target}-bottom: #{$i * $spacing-unit}; 
    }
  }
}

@function seperator($width: 2px) {
  @return $width solid $light-gray-color;
}
