@import "../../sass/variables.scss";

.blog-post {
  main {
    margin-top: $spacing-unit * 10;
    @media (max-width: $tablet-width) {
      margin-top: $spacing-unit * 5;
    }
    @media (max-width: $mobile-width) {
      margin-top: $spacing-unit * 2;
    }
    display: flex;
    align-items: flex-start;
    article {
      order: 0;
    }
    aside {
      order: 1;
    }

    aside {
      width: 250px;
      position: sticky;
      max-height: 100vh;
      overflow-y: scroll;
      top: $spacing-unit;
      margin-left: $spacing-unit * 4;
      padding-bottom: $spacing-unit;
      @media (max-width: $desktop-width - 1) {
        display: none;
      }
    }

    article {
      // HACK: 안그러면 우측에 추가공간 생김
      overflow-x: hidden;
      flex: 1;
      header {
        margin-bottom: 7 * $spacing-unit;
        h1 {
          margin-top: 0;
          margin-bottom: $spacing-unit;
          color: $black-color;
          font-size: 42px;
        }
        time {
          color: $gray-color;
        }
      }
      .post-content {
        font-size: 18px;
        line-height: 1.5em;
        font-family: $article-font-family;
        h1 {
          font-size: 200%;
          padding-top: 20px;
        }
        h2 {
          font-size: 180%;
          padding-top: 18px;
        }
        h3 {
          font-size: 160%;
          padding-top: 16px;
        }
        h4 {
          font-size: 140%;
          padding-top: 14px;
        }
        h5 {
          font-size: 120%;
          padding-top: 12px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $primary-color;
          font-family: $base-font-family;
          line-height: 1em;
        }
        img {
          border-radius: $spacing-unit / 2;
          display: block;
          margin: $spacing-unit * 2 auto;
          max-width: 100%;
        }
        blockquote {
          color: lighten($black-color, 20%);
          position: relative;
          &::before {
            content: "“";
            position: absolute;
            left: -$spacing-unit * 3;
            font-size: 40px;
            color: lighten($black-color, 60%);
          }
        }
        .highlight {
          border-radius: $spacing-unit / 2;
          overflow-x: scroll;
        }
        pre.highlight {
          padding: $spacing-unit * 2 $spacing-unit * 3;
          margin: 0;
        }
      }
      .post-meta {
        margin-top: $spacing-unit * 4;
      }
    }
  }
  footer {
  }
}
