@import '../../sass/variables.scss';

@mixin sereis-title-prefix($text: "연재물") {
  &::before {
    content: $text;
    display: block;
    font-size: 14px;
    color: $gray-color;
    font-weight: normal;
  }
}

.series-nav {
  border-left: seperator();
  .series-title {
    font-weight: bold;
    @include sereis-title-prefix();
  }
  .series-order {
    .active {
      font-weight: bold;
    }
  }
  .prev,
  .next {
    display: inline-block;
    flex: 1 0 50%;
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

.series-navigator {
  border-top: 2px solid $light-gray-color;
  border-bottom: 2px solid $light-gray-color;

  .flex {
    flex-flow: row;
  }
  .controls {
    flex: 0 0 100px;
    text-align: right;
    a {
      text-decoration: none;
    }
  }
  .series-title {
    margin-top: $spacing-unit;
    @include sereis-title-prefix("이 연재물 더보기");
  }
  .post-list {
    line-height: 1.5em;
    a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    li {
      list-style: circle;
      &.active {
        list-style: unset;
        font-weight: bold;
      }
    }
  }
}