@import '../../sass/variables.scss';

.sibling-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4 * $spacing-unit;
  .sibling-nav-item {
    max-width: 33.3333%;
    @media (max-width: $tablet-width) {
      max-width: 48%;
    }
    .label {
      color: $gray-color;
    }
    a {
      text-decoration: none;
      color: $primary-color;
      i {

      }
      h3 {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
      }

    }

  }
}