$tablet-width: 426px;
$desktop-width: 769px;

@mixin col($width) {
  flex: 0 0 $width;
  width: $width;
}

.row {
  display: flex;
  flex-wrap: wrap;
  .col-1, 
  .col-2, 
  .col-3, 
  .col-4, 
  .col-5, 
  .col-6 {
    box-sizing: border-box;
    width: 100%;
  }
  @media (min-width: $desktop-width) {
    .col-1 { @include col(8.333333%) }
    .col-2 { @include col(16.666666%) }
    .col-3 { @include col(25%) }
    .col-4 { @include col(33.333333%) }
    .col-6 { @include col(50%) }
    .col-8 { @include col(66.666666%) }
    .col-9 { @include col(75%) }
    .col-12 { @include col(100%) }
  }
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}