---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <!-- Paginated Posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-link post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          <time>{{ post.date | date: "%b %-d, %Y" }}</time>
          <ul class="tags">
            {% for tag in post.tags %}
            <li class="tag"><a class="tag-link" href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </span>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination Links -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="/">{{ page }}</a>
      {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
