<footer class="site-footer mt-15 mb-0 py-5">
  <ul>
    <li>
      <a class="icon icon-rss" href="{{ '/feed.xml' | prepend: site.baseurl }}" title="rss">
      </a>
    </li>
    <!-- {% if site.email%}
    <li>
      <a class="icon icon-email" href="mailto:{{ site.email }}">
        이메일
      </a>
    </li>
    {% endif %} -->
    {% if site.github_username %}
    <li>
      <a class="icon icon-github" href="https://github.com/{{ site.github_username }}" title="github">
      </a>
    </li>
    {% endif %}
  </u>
</footer>

<script src="/assets/js/main.js"></script>
