<footer class="site-footer">
  <div class="wrapper">
    <div class="center">
      <div class="profile-img">
        <img src="/assets/imgs/me-150x150.png" alt="Me">
      </div>
      <ul class="site-footer-links list-inline">
        <li class="site-footer-link">
          <a href="{{ '/feed.xml' | prepend: site.baseurl }}">
            <i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        {% if site.email%}
        <li class="site-footer-link">
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-inbox fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li class="site-footer-link">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        {% if site.facebook_username %}
        <li class="site-footer-link">
          <a href="https://facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li class="site-footer-link">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        {% if site.linkedin_username %}
        <li class="site-footer-link">
          <a href="https://kr.linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
      </ul>
      <h1 class="footer-heading"><a href="#">김정환 블로그</a></h1>
    </div>
  </div>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-31588166-2', 'auto');
    ga('send', 'pageview');
  </script>

</footer>
