<header class="site-header">
  <a class="btn btn-open-sidebar">메뉴</a>
  <nav class="sidebar hide">
    <a class="btn btn-close-sidebar">닫기</a>

    <div class="sidebar-title">분류</div>
    <ul class="category-list">
      {% for page in site.pages %}
      {% if page.title %}
      <li class="category-list-item">
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | upcase }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <div class="sidebar-title">태그</div>
    <ul class="category-list">
      <li class="category-list-item">
        <a href="/tags.html" class="menu-icon tags-menu-icon">
          모든 태그
        </a>
      </li>
    </ul>

  </nav>
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
</header>
