<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon category-menu-icon">
        <i class="fa fa-archive" aria-hidden="true"></i>
      </a>
      <div class="clear-both"></div>
      <div class="trigger">
        <div class="category-title">분류</div>
        <div>
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | upcase }}</a>
            {% endif %}
          {% endfor %}
          <a class="page-link" href="https://github.com/jeonghwan-kim/resume">소개</a>
        </div>

      </div>
    </nav>

  </div>

</header>
