<ol>
  <li><a href="{{ '/lectures/todomvc-angular/1'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] 노드 설치</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/2'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] 앵귤러 로딩</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/3'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] 컨트롤러</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/4'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] 투두 목록 출력하기</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/5'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] 새로운 투두 추가하기</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/6'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] Bootstrap으로 꾸미기</a></li>

  <li><a href="{{ '/lectures/todomvc-angular/9'  | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] $watch</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/10' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] Clear Completed</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/11' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] Directive</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/12' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] Service</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/13' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] Express.js</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/14' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] Static file</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/15' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] APIs</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/16' | prepend: site.baseurl }}">[앵귤러로 Todo앱 만들기] $http</a></li>
</ol>
