<ol>
  <li><a href="{{ '/start-with-hapi'          | prepend: site.baseurl }}">Hapi 시작하기</a></li>
  <li><a href="{{ '/hapijs-joi'                 | prepend: site.baseurl }}">Hapi 파라매터 검증, Joi</a></li>
  <li><a href="{{ '/hapi-logging-good'        | prepend: site.baseurl }}">Hapi 로깅, Good</a></li>
  <li><a href="{{ '/hapi-인증'                | prepend: site.baseurl }}">Hapi 인증</a></li>
  <li><a href="{{ '/hapi-test'                | prepend: site.baseurl }}">Hapi 테스트 코드</a></li>
  <li><a href="{{ '/hapi-api-server-scaffold' | prepend: site.baseurl }}">Hapi API 서버 스캐폴드</a></li>
</ol>


