<ol>
  <li><a href="{{ '/lectures/todomvc-angular/1' | prepend: site.baseurl }}">앵귤러로 Todo앱 만들기 1 - 노드설치</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/2' | prepend: site.baseurl }}">앵귤러로 Todo앱 만들기 2 - index.html</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/3' | prepend: site.baseurl }}">앵귤러로 Todo앱 만들기 3 - 앵귤러 로딩</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/4' | prepend: site.baseurl }}">앵귤러로 Todo앱 만들기 4 - 컨트롤러</a></li>
  <li><a href="{{ '/lectures/todomvc-angular/5' | prepend: site.baseurl }}">앵귤러로 Todo앱 만들기 5 - 서비스</a></li>
</ol>


