{% if page %}
  {% assign post = page %}
{% endif %}

{% if post.videoId %}
  {% for video in site.data.videos %}
    {% if video.id == post.videoId %}
      {% assign postVideo = video %}
    {% endif %}
  {% endfor %}
  {% if postVideo %}
    <div class="post-video">
      <a id="post-video" href={{ postVideo.url}} >
        <img src={{ postVideo.thumb}} />
        <div class="post-video-overlay">
          <div class="video-icon-wrapper">
            <div class="video-icon"></div>
          </div>
          <div class="post-video-title">
            {% if postVideo.title %}
              {{postVideo.title}} &raquo;
            {% else %}
              영상 더보기 &raquo;
            {% endif %}
          </div>
        </div>
      </a>
    </div>
  {% endif %}
{% endif %}