{% if page.category == "series" %}
{% if page.seriesId %}
  {% for series in site.data.series %}
    {% if series.id == page.seriesId %}
      {% assign pageSeries = series %}
    {% endif %}
  {% endfor %}
  {% if pageSeries %}
    {% assign seriesTitle = pageSeries.title %}
    {% assign seriesSize = pageSeries.posts.size %}
    
    {% for post in pageSeries.posts %}
      {% if post == page.url %}
        {% assign currentSereisIndex = forloop.index %}
      {% endif %}
    {% endfor %}

    {% assign index = currentSereisIndex | minus: 1 %}
    {% assign prev_id = index | minus: 1 %}
    {% if prev_id > -1 %}
      {% assign prevUrl = pageSeries.posts[prev_id] %}
    {% endif %}
    
    {% assign next_id = index | plus: 1 %}
    {% if next_id <= pageSeries.size %}
      {% assign nextUrl = pageSeries.posts[next_id] %}
    {% endif %}
  {% endif %}
{% endif %}
{% endif %}