<header class="site-header">
  <div class="flex container">
    <h1 class="flex-1 site-title">
      <a class="site-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <nav class="site-navs">
      <ul class="flex ml-1">
        <li class="site-nav"><a id="category-btn" href="#" class="flex"><i class="icon icon-3x icon-article"></i><span class="nav-title">POSTS</span></a></li>
        <li class="site-nav"><a href="/#videos" class="flex"><i class="icon icon-3x icon-video"></i><span class="nav-title">VIDEOS</span></a></li>
        <li class="site-nav"><a href="/tags/" class="flex"><i class="icon icon-3x icon-tag"></i><span class="nav-title">TAGS</span></a></li>
      </ul>
    </nav>
  </div>
  <div id="category-modal" class="modal category-modal">
    <ul>
      <li><a href="/category/">전체보기({{ site.posts.size }})</a></li>
      <li><a href="/category/dev.html">개발({{ site.categories.dev.size }})</a></li>
      <li><a href="/category/series.html">연재물({{ site.categories.series.size }})</a></li>
      <li ><a href="/category/think.html">생각({{ site.categories.think.size }})</a></li>
    </ul>
  </div>
</header>
