/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 28px;
  font-weight: 100;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;
  z-index: 999;

  .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $grey-color-dark;
      }
    }
  }
  .trigger {
    clear: both;
    display: none;
  }

  &:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    display: block;
    padding: 5px 10px;

    margin-left: 20px;

    color: $text-color;
    line-height: $base-line-height;
    font-weight: $light-font-weight;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.sidebar {
  h2 {
    margin-top: 30px;
    font-size: 100%;
  }
}

/**
 * Google Search bar
 */
.gsc-control-cse.gsc-control-cse-ko {
  background-color: transparent;
  border: none;
  margin-bottom: $spacing-unit;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-dark;
  padding: $spacing-unit 0;
  background-color: $grey-color-dark;
  color: $white-color;

  .profile-img {
    width: $profile-image-width;
    margin: 0 auto $spacing-unit auto;
    border-radius: 50%;
    background-color: $grey-color;

    img {
      width: $profile-image-width;
    }
  }

  .footer-heading {
    font-weight: $light-font-weight;
    a {
      color: $grey-color;
    }
    a:hover,
    a:focus {
      color: $grey-color-light;
    }

  }
}

.site-footer-links {
  list-style: none;
  margin-left: 0;
}

.site-footer-link {
  a {
    color: $grey-color;
  }
  a:hover, a:focus {
    color: $grey-color-light;
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width: calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width: calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width: calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */

.page-content {
  padding: 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  margin-bottom: $spacing-unit;
  list-style: none;

  > li {
    .post-list-item {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }

    .post-feature-image {
      float: right;
      max-width: $post-list-featured-image-width;
      max-height: $post-list-featured-image-width;
      overflow-y: hidden;
    }
    .post-title {
      margin-bottom: 5px;
      overflow-x: hidden;
      font-size: 150%;

      a.post-link {
        color: $text-color;
        font-weight: $light-font-weight;

        &:visited {
          color: $text-color;
        }

        &:focus,
        &:hover {
          border-bottom: solid 1px $text-color;
          margin-bottom: -1px;
        }
      }
    }
    .post-summary {
      font-size: $small-font-size;
      color: $grey-color;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .post-meta {
      font-size: $small-font-size;
      margin-bottom: 0;
      color: $grey-color;
      a {
        color: $brand-color;
        &:hover,
        &:focus {
          border-bottom: solid 1px $brand-color;
        }
      }
    }
  }
}


/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
  background-color: $brand-color;
  padding: 100px 0;
}
.post-header-category {
  background-color: $brand-color;
  padding: 10px 0;
  .title {
    margin-bottom: 0;
    font-size: $base-font-size;
    color: $white-color
  }
}
.post-title {
  font-size: 250%;
  font-weight: $bold-font-weight;
  color: $white-color;
}

.post-meta {
  font-size: $base-font-size;
  color: $grey-color-light;
  display: block;

  a {
    color: $grey-color-light;
    &:hover,
    &:focus {
      border-bottom: solid 1px $grey-color-light;
    }
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2, h3, h4 {
    font-weight: $bold-font-weight;
  }
  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 110%;
  }
}

.pagination {
  margin-bottom: $spacing-unit;
}
