* {
  box-sizing: border-box;
}
body {
  font-family: $base-font-family;
  color: $black-color;
}
.container {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-1 {
  flex: 1;
  overflow: auto;
}
.flex-0 {
  flex: 0;
  overflow: auto;
}

@include spacing('padding', 'p');
@include spacing('margin', 'm');

.icon {
  display: inline-block;
  width: $spacing-unit * 8;
  height: $spacing-unit * 8;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: contain;
}

.icon-rss {
  background-image: url(/assets/imgs/icons/icon-rss.svg);
}
.icon-github {
  background-image: url(/assets/imgs/icons/icon-github.svg);
}
.icon-email {
  // background-image: url(/assets/imgs/icons/icon-email.svg);
}

.btn {
  
}

.btn-text {
  border: none;
  background: none;
  padding: 0;

}

// /**
//  * Reset some basic elements
//  */
// body, h1, h2, h3, h4, h5, h6,
// p, blockquote, pre, hr,
// dl, dd, ol, ul, figure {
//   margin: 0;
//   padding: 0;
// }

// /**
//  * Basic styling
//  */
// body {
//   font: $font-weight-default #{$font-size-default}/#{$line-height-default} $base-font-family;
//   color: $color-text;
//   background-color: $color-background;
//   -webkit-text-size-adjust: 100%;
//   -webkit-font-feature-settings: "kern" 1;
//   -moz-font-feature-settings: "kern" 1;
//   -o-font-feature-settings: "kern" 1;
//   font-feature-settings: "kern" 1;
//   font-kerning: normal;
// }

// /**
//  * Set `margin-bottom` to maintain vertical rhythm
//  */
// h1, h2, h3, h4, h5, h6,
// p, blockquote, pre,
// ul, ol, dl, figure,
// %vertical-rhythm {
//   margin-bottom: $spacing-unit / 2;
// }

// /**
//  * Images
//  */
// img {
//   max-width: 100%;
//   vertical-align: middle;
// }

// /**
//  * Figures
//  */
// figure > img {
//   display: block;
// }

// figcaption {
//   font-size: $font-size-small;
// }

// /**
//  * Lists
//  */
// ul, ol {
//   margin-left: $spacing-unit;
// }

// li {
//   > ul,
//   > ol {
//     margin-bottom: 0;
//   }
// }

// /**
//  * Headings
//  */
// h1, h2, h3, h4, h5, h6 {
//   font-weight: $font-weight-default;
// }

// /**
//  * Links
//  */
// a {
//   text-decoration: none;
//   color: $color-brand;
// }
// a:hover {
//   text-decoration: underline;
// }
// a:visited {
//   color: darken($color-brand, 10%);
// }

// /**
//  * Blockquotes
//  */
// blockquote {
//   color: $grey-color;
//   border-left: 4px solid $grey-color-light;
//   padding-left: $spacing-unit / 2;
//   font-style: italic;

//   > :last-child {
//     margin-bottom: 0;
//   }
// }

// /**
//  * Code formatting
//  */
// pre,
// code {
//   padding: .2rem .4rem;
//   font-size: 90%;
//   color: $grey-color;
//   background-color: lighten($grey-color, 40%);
//   border-radius: .25rem;
// }

// code {
//   font-family: $mono-font-family;
//   padding: 1px 5px;
// }

// pre {
//   padding: 8px 12px;
//   overflow-x: auto;

//   > code {
//     border: 0;
//     padding-right: 0;
//     padding-left: 0;
//   }
// }

// table {
//   border-collapse: collapse;
//   width: 100%;
// }
// table, td, th {
//   border: 1px solid black;
// }
// th {
//   font-weight: bold;
// }
// td, th {
//   padding: 4px 6px;
//   text-align: center;
// }

// /**
//  * Wrapper
//  */
// .wrapper {
//   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//   max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
//   margin-right: auto;
//   margin-left: auto;
//   padding-right: $spacing-unit;
//   padding-left: $spacing-unit;
//   position: relative;
//   @extend %clearfix;
// }

// /**
//  * Clearfix
//  */
// %clearfix {

//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

// /**
//  * Icons
//  */
// .icon {

//   > svg {
//     display: inline-block;
//     width: 16px;
//     height: 16px;
//     vertical-align: middle;

//     path {
//       fill: $grey-color;
//     }
//   }
// }

// .list-inline > li {
//   display: inline-block;
//   padding-right: 5px;
//   padding-left: 5px;
// }


// a.tag-title-link,
// a.tag-title-link:hover,
// a.tag-title-link:focus {
//   font-family: $mono-font-family;
//   color: $color-text;
//   padding: 10px 12px;
//   border-radius: 4px;
//   font-size: $font-size-large;
// }

// .center {
//   text-align: center;
// }

// .seperator {
//   width: 100%;
//   border-bottom: 1px solid $grey-color-light;
// }

// /**
//  * Grid
//  */
// .col {
//   float: left;
// }
// .col-8 {
//   width: 80%;
// }
// .col-2 {
//   width: 20%;
// }
// .clearfix {
//   clear: both;
// }
