.site-header {
  height: 80px;
  background-color: $brand-color;
  border-bottom: $spacing-unit / 2 solid darnken($thenary-color, 30%);
  a {
    color: $white-color;
    text-decoration: none;
  }
  .site-title {
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
    .site-logo {
      display: inline-block;
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .site-navs {
    ul {
      position: relative;
      list-style: none;
      padding-left: 0;
      margin: 0;
      font-size: 16px;
      li.site-nav {
        margin-right: $spacing-unit;
        a {
          padding: $spacing-unit $spacing-unit / 2;
        }
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: $tablet-width - 1) {
          .nav-title {
            display: none;
          }
        }
      }
    }
  }
  .category-selector {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.1);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;;
      li {
        a {
          text-align: center;
          display: block;
          padding: $spacing-unit * 2 $spacing-unit * 3;
          color: $black-color;
          border-bottom: solid 1px $light-gray-color;
          &:hover,
          &:focus {
            background: rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .icon-article,
  .icon-video,
  .icon-tag{
    width: $spacing-unit * 4;
    height: $spacing-unit * 4;
  }
}
