@import "../../sass/variables.scss";

.site-footer {
  @include border("top");
  background-color: transparent;
  text-align: center;

  .footer-copyright {
    font-size: 14px;
    color: $black-color;
    display: inline-flex;
    align-items: center;
  }
}
