@import "../../sass/variables.scss";

.site-header {
  height: 80px;
  background-color: $brand-color;
  border-bottom: $spacing-unit / 2 solid darnken($thenary-color, 30%);
  a {
    color: $white-color;
    text-decoration: none;
  }
  .site-title {
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
    overflow: hidden;
    .site-logo {
      display: inline-block;
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .site-navs {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100%;
    .nav-text {
      margin-left: $spacing-unit;
      @media (max-width: $tablet-width - 1) {
        display: none;
      }
    }
    @media (max-width: $tablet-width - 1) {
      .icon {
        width: $spacing-unit * 4 !important;
        height: $spacing-unit * 4 !important;
      }
    }
  }
}
