@import "../../sass/variables.scss";

.site-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding: $spacing-unit $spacing-unit;
    appearance: none;
    background: transparent;
    border: none;
    color: $black-color;
    font-weight: 300;
    height: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: $tablet-width - 1) {
    .nav-title {
      display: none;
    }
  }
}
