.home {
  section {
    padding-top: $spacing-unit * 6;
    padding-bottom: $spacing-unit * 12;
    .section-inner {
      max-width: $content-width;
      .section-title a {
        text-decoration: none;
      }
      .posts {
      }
      .videos {
      }
    }
  }
}