
@import '../sass/variables.scss';

.tag-list {
  .tag-item {
    h2 {
      a {
        text-decoration: none;
        color: $primary-color;
        font-family: $fixed-font-family;
      }
    }
    ul {
      padding-left: 20px;
      li {
        margin-bottom: $spacing-unit;
        a {
          text-decoration: none;
          color: $black-color;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}