@import '_sidebar.scss';
@import '_site-header.scss';

.page-content {
  padding: 0;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  margin-bottom: $spacing-unit;
  list-style: none;
  > li {
    .post-list-item {
      padding-top: 0;
      padding-bottom: 10px;
    }
    .post-feature-image {
      float: right;
      max-width: $post-list-featured-image-width;
      max-height: $post-list-featured-image-width;
      overflow-y: hidden;
    }
    .post-title {
      margin-bottom: 5px;
      overflow-x: hidden;
      font-size: 150%;
      a.post-link {
        color: $color-text;
        &:visited {
          color: $color-text;
        }
        &:focus,
        &:hover {
          border-bottom: solid 1px $color-text;
          margin-bottom: -1px;
        }
      }
    }
    .post-summary {
      font-size: $font-size-small;
      color: $grey-color;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  background-color: $color-background;
  padding: 13px 0;
}
.post-header-category {
  background-color: $color-brand;
  padding: 10px 0;
  .title {
    margin-bottom: 0;
    font-size: $font-size-default;
    color: $white-color
  }
}
.post-title {
  font-size: 300%;
  line-height: 1em;
  font-weight: $font-weight-default;
  color: $color-text;
  margin-top: 25px;
  margin-bottom: 0;
}
.post-meta {
  font-size: $font-size-small;
  color: $grey-color;
  display: block;
  font-weight: normal;
  a {
    color: $grey-color;
    &:hover,
    &:focus {
      border-bottom: solid 1px $grey-color;
    }
  }
  .date,
  .category {
    margin-right: 10px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  font-weight: $font-weight-default;
  h2, h3, h4 {
    font-weight: $font-weight-heavy;
  }
  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 110%;
  }
}
.pagination {
  margin-bottom: $spacing-unit;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: $grey-color-light;
  color: $white-color;
  /**
   * Google Search bar
   */
  .gsc-control-cse.gsc-control-cse-ko {
    background-color: transparent;
    border: none;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    input.gsc-search-button,
    input.gsc-search-button:hover,
    input.gsc-search-button:focus {
      border-color: $grey-color !important;
    }
  }
  .footer-heading {
    font-weight: $font-weight-light;
    a {
      color: $grey-color;
    }
  }
  .site-footer-links {
    list-style: none;
    margin-left: 0;
  }
  .site-footer-link {
    a {
      &,
      &:hover,
      a:focus {
        color: $grey-color;
      }
    }
  }
}
