@import '_sidebar.scss';

/**
 * Site header
 */
.site-header {
  border-bottom: none;
  height: $site-header-height;
  background-color: $site-header-background-color;
  text-align: left;
  margin-bottom: $spacing-unit;

  .btn {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    &:hover,
    &:focus {
      background: rgba(255,255,255,.1);
    }
  }
  .btn-open-sidebar {
    position: absolute;
    top: $sidebar-top-padding;
    left: $sidebar-left-padding;
    z-index: 998;
  }
  .site-title {
    margin-bottom: 0;
    font-weight: 100;
    line-height: $site-header-height;
    letter-spacing: -2px;
    a {
      color: $site-header-color;
      &,
      &:visited {
        color: $site-header-color;
      }
    }
  }
  .site-title-sm {
    font-size: 1em;
  }
  .site-description {
    margin-bottom: 0;
    font-size: 90%;
    color: darken($site-header-color, 40%)
  }
  .site-tags {
    font-size: 90%;
    color: $site-header-color;
  }
  .site-nav {
    float: right;
    line-height: $site-header-height;
    position: absolute;
    top: 0;
    right: $spacing-unit / 2;
    z-index: 999;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 100%;
      line-height: 48px;
      color: $site-header-color;
      a,
      a:visited {
        color: $site-header-color;
      }
    }
    .clear-both {
      clear:both;
    }
    .trigger {
      display: none;
      border: 1px solid $grey-color-light;
      background-color: white;
      position: relative;
      width: 200px;
      padding: 20px 10px;
      .category-title {
        display: block;
        padding: 0 10px 20px;
        text-align: center;
        font-size: 16px;
        color: $grey-color;
      }
      .close {
        position: absolute;
        top: -7px;
        right: 7px;
      }
    }
  }
}
/**
 * Page content
 */
.page-content {
  padding: 0;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  margin-bottom: $spacing-unit;
  list-style: none;
  > li {
    .post-list-item {
      margin-bottom: $spacing-unit;
    }
    .post-feature-image {
      float: right;
      max-width: $post-list-featured-image-width;
      max-height: $post-list-featured-image-width;
      overflow-y: hidden;
    }
    .post-title {
      font-size: 150%;
      margin-bottom: 5px;
      a.post-link {
        color: $color-text;
        &:visited {
          color: $color-text;
        }
        &:focus,
        &:hover {
          border-bottom: solid 1px $color-text;
          margin-bottom: -1px;
        }
      }
    }
    .post-summary {
      font-size: $font-size-small;
      color: $grey-color;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
/**
 * Posts
 */
.post-header {
  background-color: $color-background;
  padding: 13px 0;
}
.post-header-category {
  background-color: $color-brand;
  padding: 10px 0;
  .title {
    margin-bottom: 0;
    font-size: $font-size-default;
    color: $white-color
  }
}
.post-title {
  font-size: 300%;
  line-height: 1em;
  font-weight: $font-weight-default;
  color: $color-text;
}
.post-meta {
  font-size: $font-size-small;
  color: $grey-color;
  display: block;
  font-weight: normal;
  margin-bottom: $spacing-unit;
  .date {
    margin-right: 10px;
  }
}
.post-list .post-meta .tag-link  {
  color: $grey-color;
  &:hover,
  &:focus {
    border-bottom: solid 1px $grey-color;
  }
}
.post .post-meta .tag-link {
  font-family: $mono-font-family;
  background-color: $light-grey-color;
  color: $color-text;
  padding: 10px 12px;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: darken($light-grey-color, 10%);
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  font-weight: $font-weight-default;
  h2, h3, h4 {
    font-weight: $font-weight-heavy;
  }
  h2 {
    font-size: 130%;
  }
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 110%;
  }
}
.pagination {
  margin-bottom: $spacing-unit;
  .current-page {
    display: inline-block;
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  color: $grey-color;

  .footer-heading {
    a {
      color: $grey-color;
    }
  }
  .site-footer-links {
    list-style: none;
    margin-left: 0;
    font-size: 90%;
  }
  .site-footer-link {
    a {
      &,
      &:hover,
      a:focus {
        color: $grey-color;
      }
    }
  }
  .copyright {
    font-size: 75%;
  }
}
