$sidebar-title: #fff;
$sidebar-width: 200px;
$sidebar-left-padding: 6px;
$sidebar-top-padding: 6px;

.sidebar {
  position: fixed;
  text-align: left;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: $sidebar-top-padding;
  padding-left: $sidebar-left-padding;
  background-color: $grey-color-dark;
  width: $sidebar-width;
  z-index: 999;
  transition: all .3s ease-in-out;
  .category-list {
    margin-left: 15px;
  }
  .category-list-item {
    list-style: none;
    text-align: left;
    a {
      color: darken($sidebar-title, 40%);
      font-size: 80%;
      &:hover,
      &:focus {
        color: $sidebar-title;
      }
    }
  }
}
.btn-close-sidebar {
}
.sidebar-title {
  text-align: left;
  color: $sidebar-title;
}
.sidebar.hide {
  margin-left: -($sidebar-width + $sidebar-left-padding);
}
