$site-header-background-color: white;
$site-header-height: 80px;
$site-header-color: black;

.site-header {
  // border-bottom: none;
  // height: $site-header-height;
  // background-color: $site-header-background-color;
  margin: 40px 0;
  // text-align: left;

  .btn-open-sidebar {
    position: absolute;
    top: 0;
    right: $spacing-unit;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px soild grey;
    // font-size: 14px;
    // color: white;
    cursor: pointer;
    &:hover,
    &:focus {
      background: rgba(255,255,255,.1);
    }
  }
  .site-title {
    // font-size: 24px;
    // font-weight: 100;
    // line-height: $site-header-height;
    // letter-spacing: -2px;
    color: $site-header-color;
    &,
    &:visited {
      color: $site-header-color;
    }
    h1 {
      margin-bottom: 0;
      font-size: 100%;
    }
  }
  .site-nav {
    float: right;
    line-height: $site-header-height;
    position: absolute;
    top: 0;
    right: $spacing-unit / 2;
    z-index: 999;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 100%;
      line-height: 48px;
      color: $site-header-color;
      a,
      a:visited {
        color: $site-header-color;
      }
    }
    .clear-both {
      clear:both;
    }
    .trigger {
      display: none;
      border: 1px solid $grey-color-light;
      background-color: white;
      position: relative;
      width: 200px;
      padding: 20px 10px;
      .category-title {
        display: block;
        padding: 0 10px 20px;
        text-align: center;
        font-size: 16px;
        color: $grey-color;
      }
      .close {
        position: absolute;
        top: -7px;
        right: 7px;
      }
    }
  }
}