@import "../sass/variables.scss";

.content {
}

section {
  padding: $spacing-unit * 6 $spacing-unit;

  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
