@import "../sass/variables.scss";

.icon {
  display: inline-block;
  width: $spacing-unit * 3;
  height: $spacing-unit * 3;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: contain;
}

@for $x from 1 to 10 {
  .icon-#{$x}x {
    width: #{$spacing-unit * $x};
    height: #{$spacing-unit * $x};
  }
}
.icon-rss {
  background-image: url(../images/icon-rss.png);
  filter: invert(1);
}
.icon-github {
  background-image: url(../images/icon-github.png);
  filter: invert(1);
}
.icon-email {
  background-image: url(../images/icon-email.png);
  filter: invert(1);
}
.icon-article {
  background-image: url(../images/icon-article.png);
  filter: invert(1);
}
.icon-video {
  background-image: url(../images/icon-video.png);
  filter: invert(1);
}
.icon-tag {
  background-image: url(../images/icon-tag.png);
  filter: invert(1);
}
