.home {
  max-width: $content-width;
  ul.post-list {
    list-style: none;
    padding: 0;
    li {
      a.post-item {
        text-decoration: none;
        display: block;
        .post-item-title {
          color: $primary-color;            
        }
        .post-meta {
          .date {
            color: lighten($black-color, 40%);
          }
        }
        .post-summary {
          color: $black-color;
          line-height: 1.5em;;
        }
      }
    }
  }
  .pagination {
    font-size: 18px;
    a {
      text-decoration: none;
    }
    .current-page {
      color: $black-color;
    }
  }
}