@mixin sereis-title-prefix($text: "연재물") {
  &::before {
    content: $text;
    display: block;
    font-size: 14px;
    color: $gray-color;
    font-weight: normal;
  }
}

.post {
  > .flex {
    align-items: flex-start;
    .post-aside {
      order: 1;
    }
    .post-container {
      order: 0;
    }
  }

  .post-aside {
    flex: 0 0 250px;
    position: sticky;
    max-height: 100vh;
    overflow-y: scroll;
    top: $spacing-unit;
    margin-left: $spacing-unit * 4;
    padding-bottom: $spacing-unit;
    @media (max-width: $desktop-width - 1) {
      display: none;
    }
    > * {
      border-left: seperator();
    }
    .series-nav {
      .series-title {
        font-weight: bold;
        @include sereis-title-prefix();
      }
      .series-order {
        .active {
          font-weight: bold;
        }
      }
      .prev,
      .next {
        display: inline-block;
        flex: 1 0 50%;
      }
      a {
        color: $secondary-color;
        text-decoration: none;
      }
    }
    .post-toc {
      ul {
        padding-left: $spacing-unit * 2;
        list-style: none;
        margin: 0;
        li {
          margin-bottom: $spacing-unit / 2;
          a {
            text-decoration: none;
            color: $gray-color;
            &:hover,
            &:focus {
              color: $black-color;
            }
            &.active {
              color: $brand-color;
            }
          }
        }
      }
    }
  }

  .post-container,
  .footer-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  // HACK: 안그러면 우측에 추가공간 생김
  .post-container {
    overflow-x: hidden;
  }

  .post-header {
    .post-title {
      color: $black-color;
      font-size: 42px;
    }
    .post-meta {
      .date {
        color: $gray-color;
      }
    }
  }

  .post-content {
    font-size: 18px;
    line-height: 1.5em;
    font-family: $article-font-family;
    h1 {
      font-size: 200%;
      padding-top: 20px;
    }
    h2 {
      font-size: 180%;
      padding-top: 18px;
    }
    h3 {
      font-size: 160%;
      padding-top: 16px;
    }
    h4 {
      font-size: 140%;
      padding-top: 14px;
    }
    h5 {
      font-size: 120%;
      padding-top: 12px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary-color;
      font-family: $base-font-family;
      line-height: 1em;
    }
    img {
      max-width: 100%;
    }
    blockquote {
      color: lighten($black-color, 20%);
      position: relative;
      &::before {
        content: "“";
        position: absolute;
        left: -$spacing-unit * 3;
        font-size: 40px;
        color: lighten($black-color, 60%);
      }
    }
    .highlight {
      border-radius: $spacing-unit / 2;
      overflow-x: scroll;
    }
    pre.highlight {
      padding: $spacing-unit * 2 $spacing-unit * 3;
      margin: 0;
    }
  }
  .social-share-btns {
    align-items: flex-start;
    min-height: 30px; // 나중에 로딩되는 영역이라서 미리 높이 설정(스크롤 이슈와 연관)
    padding-top: $spacing-unit * 8;
  }
  .post-footer {
  }
}

.series-navigator {
  border-top: 2px solid $light-gray-color;
  border-bottom: 2px solid $light-gray-color;

  .flex {
    flex-flow: row;
  }
  .controls {
    flex: 0 0 100px;
    text-align: right;
    a {
      text-decoration: none;
    }
  }
  .series-title {
    margin-top: $spacing-unit;
    @include sereis-title-prefix("이 연재물 더보기");
  }
  .post-list {
    line-height: 1.5em;
    a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    li {
      list-style: circle;
      &.active {
        list-style: unset;
        font-weight: bold;
      }
    }
  }
}
