.post {
  .flex {
    flex-flow: row-reverse;
    align-items: flex-start;
    .post-toc {
      flex: 0 0 250px;
      position: sticky;
      top: $spacing-unit;
      ul {
        list-style: none;
        margin: 0;
        padding-left: $spacing-unit * 2;
        li {
          margin-bottom: $spacing-unit / 2;
          a {
            text-decoration: none;
            color: $black-color;
            &:hover,
            &:focus {
              color: $brand-color;
            }
          }
        }
      }
      > ul {
        margin-left: $spacing-unit * 4;
        border-left: 5px solid $secondary-color;
      }
      @media (max-width: 860px) {
        display: none;
      }
    }
    .post-header {
      .post-title {
        color: $brand-color;
        font-size: 42px;
      }
      .post-meta {
        .date {
          color: $secondary-color
        }
      }
      .post-summary {
  
      }
    }
    .post-content {
      font-size: 18px;
      line-height: 1.5em;
      h1 {
        font-size: 200px;
      }
      h2 {
        font-size: 180%;
      }
      h3 {
        font-size: 160%;
      }
      h4 {
        font-size: 140%;
      }
      h5 {
        font-size: 120%;
      }
      h1, h2, h3, h4, h5, h6 {
        color: $brand-color;
      }
      img {
        max-width: 100%;
      }
      a {
        color: $primary-color;
      }
      .highlight {
        border-radius: $spacing-unit / 2;
      }
      pre.highlight {
        padding: $spacing-unit * 2 $spacing-unit;
      }
    }
  }
}