.site-header {
  height: 80px;
  background-color: $primary-color;
  border-bottom: 3px solid $thenary-color;
  .site-title {
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
    .site-logo {
      display: inline-block;
      width: 100%;
      height: 28px;
      line-height: 28px;
      color: $white-color;
      text-decoration: none;
    }
  }
  .site-navs {
    ul {
      list-style: none;
      padding-left: 0;
      font-size: 18px;
      a {
        color: $white-color;
        text-decoration: none;
      }
    }
    .category {
      position: relative;
      color: $white-color;
      .category-list {
        position: absolute;
        top: 26px;
        right: 0;
        background-color: $secondary-color;
        border-radius: $spacing-unit / 2;
        padding: $spacing-unit;
        z-index: 1000;
        min-width: 150px;
        // js로 제어 
        // visibility: hidden;
      }
    }
  }
}
