---
layout: default
---
<article id="post" class="post container mt-20" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="flex">
    <aside class="post-aside">
      {% include series-nav-light.html %}
      <div id="toc" class="post-toc"></div>
    </aside>
    <main class="post-container flex-1">
      <header class="mb-7 post-header">
        <h1 class="mt-0 mb-1 post-title" itemprop="name headline">{{ page.title }}</h1>
        <div class="post-meta">
          {% include post-date.html %}
        </div>
      </header>
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
      <div class="my-7">{% include post-tags.html %}</div>
      <div class="flex social-share-btns">
        <div class="mr-1">{% include twitter-tweet.html %}</div>
        {% include fb-like.html %}
      </div>
    </main>
  </div>
  <footer class="post-footer footer-container py-10 mt-10">
    <div class="mb-8">{% include series-nav-detail.html %}</div>
    <div>{% include comments.html %}</div>
  </footer>
</article>

<script src="/assets/js/toc.js"></script>