---
layout: default
---
<article id="post" class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="wrapper">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <div class="post-summary">{{ page.summary }}</div>
    </div>
  </header>
  <div id="post-index" class="post-index"></div>
  <div class="wrapper">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <div class="post-meta">
      <p>{% include post-date.html %}</p>
      <div>{% include post-tags.html %}</div>
    </div>
    <div>{% include fb-like.html %}</div>
    <div>{% include comments.html %}</div>
  </div>
</article>

<script src="/assets/js/index-creator.js"></script>