---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="wrapper">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">
        {% include post-date.html %}
        {% include post-tags.html %}
      </p>
    </div>
  </header>

  <div class="wrapper">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <div>
      {% include comments.html %}
    </div>
  </div>
</article>

<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/heading-link.js"></script>
<script type="text/javascript">
  headingLink("div.post-content", ["h2"]);
</script>
