<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>김정환 블로그</h1>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3 align-right" style="padding-right:32px">
      <div><button>좋아요</button></div>
      <div><a href="">카테고리</a></div>
      <div><a href="">#태그1</a></div>
      <div><a href="">#태그2</a></div>
    </div>
    <div class="col-6">
      <h1>포스트 제목</h1>
      <div>포스트 메타정보</div>
      <div>컨텐츠
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
        Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
        the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
        1.10.32.</p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
        Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
        the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
        1.10.32.</p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
        Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
        the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
        1.10.32.</p>
        
    </div>
    </div>
    <div class="col-3">
      <div>
        <ul>
          <li>제목1</li>
          <ul>
            <li>제목1.1</li>
            <li>제목1.2</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
